services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: reporting-service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports: 
      - "5432:5432"
    volumes: 
      - reporting-service_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./input:/app/input      # монтируем локальную input папку
      - ./output:/app/output    # монтируем локальную output папку
      - ./fonts:/app/fonts      # монтируем шрифты
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=reporting-service
      - DB_SSL_MODE=disable
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

volumes:
  reporting-service_postgres_data: